*.bak
.DS_Store
Thumbs.db
*.swp
*.swo
*~
home/.config/nvim/init.lua.bak
home/.config/nvim/lazy-lock.json
home/.config/gtk-3.0/bookmarks
pi/
tmux/plugins/
ssh/*.key
ssh/*.pem
ssh/authorized_keys
ssh/known_hosts
ssh/id_*
ssh/config
docs/
tickets/
